<div class="new-message-modal container d-flex flex-column" >
  <div class="hero-text text-center w-50">
    <h1>Chat</h1>
  </div>
  <div id="messages" data-incident-id="<%= @incident.id %>">
    <% @incident.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.first_name.capitalize %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [ @incident, @message ],
    remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message" %>
    <%= f.submit class: "btn btn-warning w-100 rounded-pill" %>
  <% end %>
  <%# <%= link_to 'Back to Map', incident_path(@incident), class: "mt-3" %>
</div>
