<div data-controller="incident-map"
  id="incident_map"
  style="width: 100%; height: calc(100vh - 66px);"
  data-markers="<%= @markers.to_json %>"
  data-usermarker="<%= @usermarker.to_json if @incident.space.user == current_user %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="card-footer">
  <%= image_tag @space.user.photo, class: "profile-avatar" %>
  <div class="card-footer-infos" data-controller="show-on-click">
    <%= link_to '',  class: "button-circle" do %>
      <i class="fas fa-phone-alt"></i>
    <% end %>
    <%= button_tag data: {
      action: "click->show-on-click#toggle"
    }, class: "button-circle" do %>
      <i class="far fa-comment"></i>
    <% end %>
    <%= link_to 'Safe', edit_incident_path(@incident), class: "button-circle" %>
    <div data-show-on-click-target ="hiddenElement">
      <%= render 'messages/new'%>
    </div>
  </div>
</div>
