<div class="loader">
  <div class="load-text">
    <p>Redirecting you to the nearest safe space...</p>
  </div>
</div>
<div data-controller="incident-map"
  id="incident_map"
  style="width: 100%; height: calc(100vh - 66px); opacity: 0; "
  data-markers="<%= @markers.to_json %>"
  data-kobanmarkers="<%= @koban_markers.to_json %>"
  data-usermarker="<%= @usermarker.to_json if @incident.space.user == current_user %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="card-footer">
  <%= link_to cl_image_tag(@space.user.photo.key, :alt => "profile photo", :class => "profile-avatar"), user_path(@space.user) %>
  <div class="card-footer-infos" data-controller="show-on-click">
    <%= link_to call_incident_path(@incident), method: :post, remote: true, data: {
      action: "click->show-on-click#toggleCall"
    }, class: "button-circle text-decoration-none" do %>
      <i class="fas fa-phone-alt"></i>
    <% end %>
    <%= button_tag data: {
      action: "click->show-on-click#toggleChat"
    }, class: "button-circle comment" do %>
      <i class="far fa-comment"></i>
      <div class="circle">
      </div>
    <% end %>
    <%= link_to 'Safe', edit_incident_path(@incident), class: "button-circle text-decoration-none" %>
    <div data-show-on-click-target ="hiddenChat">
      <%= render 'messages/new'%>
    </div>
    <div data-show-on-click-target ="hiddenCall">
      <%= render 'messages/call'%>
    </div>
  </div>
</div>
