<div class="loader">Loading...</div>
<div data-controller="incident-map"
  id="incident_map"
  style="width: 100%; height: calc(100vh - 66px); opacity: 0; "
  data-markers="<%= @markers.to_json %>"
  data-kobanmarkers="<%= @koban_markers.to_json %>"
  data-usermarker="<%= @usermarker.to_json if @incident.space.user == current_user %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="call-modal pulse">
  <div class="text-center mt-5">
    <h1><%= @space.user.first_name.capitalize %></h1>
    <p>Calling...</p>
  </div>
  <%= image_tag(@space.user.photo, :alt => "profile photo", :class => "") %>
</div>
<div class="card-footer">
  <%= link_to image_tag(@space.user.photo, :alt => "profile photo", :class => "profile-avatar"), user_path(@space.user) %>
  <div class="card-footer-infos" data-controller="show-on-click">
    <%= link_to call_incident_path(@incident), method: :post, remote: true, data: {
      action: "click->show-on-click#call"
    }, class: "button-circle" do %>
      <i class="fas fa-phone-alt"></i>
    <% end %>
    <%= button_tag data: {
      action: "click->show-on-click#toggle"
    }, class: "button-circle comment" do %>
      <i class="far fa-comment"></i>
      <div class="circle">
      </div>
    <% end %>
    <%= link_to 'Safe', edit_incident_path(@incident), class: "button-circle" %>
    <div data-show-on-click-target ="hiddenElement">
      <%= render 'messages/new'%>
    </div>
  </div>
</div>
