<%= simple_form_for @space do |f| %>
  <div>
    <%= f.input :address, label: 'Address' %>
    <%= f.input :conditions, label: 'Conditions' %>
    <%= f.input :available, input_html: { class: "toggle" }, label: 'Make my space available?' %>
    <%= f.input :photo, as: :file, label: 'Add a photo' %>
  </div>
  <div>
    <%= f.submit 'Create Space', class: 'btn btn-warning' %>
  </div>
<% end %>
