<div class="profile-card">
  <div class="profile-background"></div>
  <div class="profile-header">
    <% if space.photo.attached? %>
      <div style="height: 10.5rem"><%= cl_image_tag space.photo.key, class: "profile-image d-flex justify-content-center" %><%= cl_image_tag space.user.photo.key, class: "profile-avatar" %></div>
    <% else %>
      <div><%= image_tag '/assets/images/spaces/home-placeholder.png', class: "profile-image d-flex justify-content-center" %><%= cl_image_tag space.user.photo.key, class: "profile-avatar" %></div>
    <% end %>
    <div class="profile-title">
      <h2><%= space.user.first_name.capitalize %></h2>
    </div>
  </div>
  <div class="profile-body">
    <%# <p><%= space.user.first_name.capitalize has helped <span class="profile-helped"><%= space.incidents.count people</span></p> %>
    <div class="body-intro">
      <p><%= space.conditions %></p>
    </div>
  </div>
</div>
