<div class="container">
  <div class="space-image">
    <% if space.photo.attached? %>
      <%= image_tag space.photo %>
    <% else %>
      <%= image_tag "space1.png" %>
    <% end %>
  </div>
  <div class="space-details">
    <%= space.conditions %>
    <%= space.available %>
    <%= space.address %>
  </div>
</div>
