<div
    class="map-container"
    id="map"
    style="width: 100%; height: calc(100vh - 66px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>  <%= simple_form_for @incident do |f|%>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user&.id} %>
    <%= f.submit 'Help!', class: "font-weight-bold btn btn-danger btn-lg help-button"  %>
  <% end %>
</div>
