<div class="container flex-column">
  <div class="hero-text mb-2 text-center" style="max-width: 18rem">
    <h1 style="font-size: 3rem">Notifications</h1>
    <p style="color: white; opacity: 67%;"><%= @notifications.unread.count %> unread notifications</p>
  </div>
  <div id= "notification-container">
  <% @notifications.each do |notification| %>
    <div class="notification-box mb-3">
      <% if notification.incident.present? %>
        <%= link_to cl_image_tag(notification.incident.user.photo.key, alt: "profile photo"), user_path(notification.incident.user) %>
      <% else %>
        <%= image_tag "placeholder2.jpg", alt: "placefolder profile photo" %>
      <% end %>
      <div class="notification-content">
        <% if notification.unread? %>
          <p style="color: white"><%= notification.to_notification.message %><%= link_to " here", notification_path(notification), style: "font-weight: bold" %></p>
        <% else %>
          <p style="opacity: 50%"><%= notification.to_notification.message %><%= link_to " here", notification_path(notification), style: "font-weight: bold; opacity: 90%" %></p>
        <% end %>
      </div>
  </div>
    <% end %>
  </div>
</div>
