<%= simple_form_for @user, html: { class: "" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :first_name %> <%= f.input :last_name %>
    <%= f.input :phone_num %>
    <%= f.input :bio %>
    <%= f.input :emergency_name %>
    <%= f.input :emergency_num, label: 'Emergency number' %>
    <%= f.input :photo, as: :file %>
  </div>
  <%= f.submit "Update Profile", class: "btn btn-primary" %>
<% end %>
