<div data-controller="user-location", id="user_location">
  <div class="fullscreen">
    <div class="hero d-flex align-items-center">
      <div class="circle-hero"></div>
      <div><%= image_tag "safe-spaces-logo-light.png", class: "hero-image" %></div>
    </div>
    <div>
      <div class="hero-text">
        <h1 class="text-center" style="background: transparent;">Safe Spaces</h1>
        <h2 class="text-center mb-3">Getting you home safe.</h2>
      </div>
    </div>
    <div class="content d-flex flex-column">
      <div class="buttons">
        <%= form_tag spaces_path, class: "d-flex", style: "width: 17.5rem", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            style: "border-radius: 0.5rem 0 0 0.5rem; box-shadow: 0 0.2rem 0.2rem rgba(10,10,10,0.3);",
            placeholder: "Enter an address..."
          %>
          <%= button_tag class: "btn btn-dark", style: "border-radius: 0 0.5rem 0.5rem 0; box-shadow: 0 0.2rem 0.2rem rgba(10,10,10,0.3);" do %>
            <i class="fas fa-walking"></i>
          <% end %>
          <% if user_signed_in? %>
          <div class="mx-3 d-flex align-items-center">
            <h5>or</h5>
          </div>
            <%= link_to space_path(current_user.spaces.first), class: "home-btn text-decoration-none text-info" do %>
            <p class="text-decoration-none"><i class="fas fa-home"></i></p>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="d-flex mt-4 pt-3 pb-2 help-box text-left border-top border-bottom" style="margin: 0 auto; margin-bottom: 3rem; max-width: 18.75rem;">
        <div class="mr-4">
          <h2>Feel unsafe?</h2>
          <p>Click on this button here or on your map to find your nearest safe space</p>
        </div>
        <%= simple_form_for @incident, html: {"data-user-location-target": "link"}, class: "d-flex align-items-center" do |f|%>
            <%= f.input :user_id, as: :hidden, input_html: {value: current_user&.id } %>
            <%= hidden_field_tag :lng, "", "data-user-location-target": "lng" %>
            <%= hidden_field_tag :lat, "", "data-user-location-target": "lat"   %>
            <%= f.submit 'Help!', class: "font-weight-bold btn btn-danger btn-lg", style: "height: 5rem; width: 5rem; border-radius: 50%;"  %>
        <% end %>
      </div>
    <% end %>
    <% unless user_signed_in? %>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <%= link_to "Login", new_user_session_path, class: "cta-btn", style: "color: white" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "cta-btn signup-btn" %>
      </div>
      <div class="text-signup">
        <small>Not a member? Sign up to see your nearest safe spaces.</small>
      </div>
    <% end %>
  </div>
</div>
