<%# <div data-controller="user-location", id="user_location"> %>
  <div class="fullscreen">
    <div class="content">
      <h1 class="text-center m-4">Safe spaces</h1>
      <h2 class="text-center mb-3">Getting you home safe.</h2>
      <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to space_path(current_user.spaces.first), class: "btn btn-danger m-3"  do %>
            <i class="fas fa-home" ></i>
          <% end %>
        <% end %>
        <%= form_tag spaces_path, class: "d-flex", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            style: "border-radius: 8px 0 0 8px;",
            placeholder: "Go somewhere else..."
          %>
          <%= button_tag class: "btn btn-dark", style: "border-radius: 0px 8px 8px 0px;" do %>
            <i class="fas fa-walking"></i>
          <% end %>
        <% end %>
          <%= simple_form_for @incident, html: {"data-user-location-target": "link"} do |f|%>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user&.id } %>
          <%= hidden_field_tag :lng, "", "data-user-location-target": "lng" %>
          <%= hidden_field_tag :lat, "", "data-user-location-target": "lat"   %>
          <%= f.submit 'Help!', class: "btn btn-danger btn-lg m-5" %>
          <% end %>
      </div>
    </div>
  </div>
<%# </div> %>
